<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/testRequestServletAPI}">测试testRequestServletAPI渲染对象共享数据</a><br/>
<a th:href="@{/testModelAndView}">测试testModelAndView渲染对象共享数据</a><br/>
<a th:href="@{/testModel}">测试testModel渲染对象共享数据</a><br/>
<a th:href="@{/testMap}">测试testMapScope渲染对象共享数据</a><br/>
<a th:href="@{/testModelMap}">测试testModelMapScope渲染对象共享数据</a><br/>
<a th:href="@{/testSession}">测试testSession渲染对象共享数据</a><br/>
<a th:href="@{/testApplication}">测试testApplication渲染对象共享数据</a><br/>
<a th:href="@{/test_rest}">测试RESTFUL</a><br/>
<a th:href="@{/test_http}">测试HttpMessageConverter</a><br/>
<a th:href="@{/test_ajax}">测试ajax</a><br/>
<a th:href="@{/test_file}">测试文件上传下载</a><br/>
<a th:href="@{/test_interceptor}">测试拦截器</a><br/>
<a th:href="@{/test_error}">测试异常处理</a><br/>
</body>
</html>